@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  background-color: #c7e4ff;
}
header {
  background-color: #ffffffa4;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  img {
    width: 81px;
    height: 80px;
  }
}
i {
  font-size: 24px;
}

.divider {
  height: 1px;
  background-color: #000000;
  width: 100%;
}
.headerBtn {
  background-color: #0277ba;
  width: 150px;
  height: 56px;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
}
.a {
  color: #0277ba;
  font-weight: 700;
  text-decoration: none;
  border-bottom: none;
}
.a:hover {
  color: #64b7f6;
}
.hero {
  background-image: url("./Hero-img.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Opacity {
  background-color: rgba(0, 0, 0, 0.374);
  height: 100%;
  width: 100%;
}

.heroTitle {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
}
.hero-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
}
.aboutBtn {
  border: none;
  color: #0277ba;
  background-color: rgb(255, 255, 255);

  width: 166px;
  height: 62px;
  border-radius: 8px;
  padding: 10px;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
}
.contactBtn {
  background-color: #0277ba;
  color: white;
  border: none;
  width: 166px;
  height: 62px;
  border-radius: 8px;
  padding: 10px;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
}

@media (max-width: 767px) {
  header {
    background-color: #0082fc00;
    color: white;
  }
  .a {
    color: white;
  }
  #smNone {
    display: none;
  }
  .burger {
    display: flex;
  }
  .whats {
    /* background: #000; */
    padding-left: 6rem;
  }
  .divider {
    background-color: white;
  }
  .hero {
    position: relative;
    z-index: -1;
    top: -160px;
    height: 100vh;
  }

  .hero h1 {
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    text-align: center;
  }

  .hero p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    text-align: center;
  }
  .aboutBtn {
    width: 120px;
    height: 44px;
    font-size: 16px;
  }
  .contactBtn {
    width: 120px;
    height: 44px;
    font-size: 16px;
  }
  .btns {
    text-align: center;
  }
  .nav-item {
    display: none;
  }
  #headerBtn {
    display: none;
  }
}
@media (min-width: 768px) {
  .nav-item {
    font-size: 18px;
  }
  .heroTitle {
    text-align: center;
  }
  .hero-text {
    text-align: center;
  }
  .btns {
    text-align: center;
  }
  #lgNone {
    display: none;
  }
}
/* Desktops */
@media (min-width: 1024px) {
  .nav-item {
    font-size: 20px;
  }
  #lgNone {
    display: none;
  }
}

/* From Uiverse.io by Cevorob */
.burger {
  position: relative;
  width: 35px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(52deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-52deg);
  top: 28px;
  left: 5px;
}
/* ----------------------------------------- section2 ----------------------------------------- */

.section2 {
  .text {
    p {
      font-family: Roboto;
      font-weight: 400;
      font-style: Regular;
      font-size: 30px;
    }
  }

}

@media (max-width: 767px) {
  #section2 {
    padding-top: 5px;
    position: relative;
    top: -150px;
    .div {
      flex-wrap: wrap-reverse;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.bg-counter {

 width: 100%;
  padding: 60px 257px;

}

.counter {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff; /* لون Bootstrap */
}
.dividerH{
   width: 2px;
    height: 100%;
    background-color: #ffffff
}


/* -------------- section3 -------------------- */
.section3 {
 padding-top: ;
}