* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #C7E4FF;
}
header{
      background-color: #C7E4FF;
}
i {
  font-size: 24px;
}

.divider {
  height: 1px;
  background-color: #000000;
  width: 100%;
}
.a {
  color: black;
  text-decoration: none;
  border-bottom: none;
}
.hero {
    background-image: url("./Hero-img.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Opacity {
    background-color: rgba(0, 0, 0, 0.374);
    height: 100%;
    width: 100%;
}

.heroTitle {
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
}
.hero-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
}
.aboutBtn {
    background-color: aqua;
    color: black;
    width: 166px;
    height: 62px;
    border-radius: 8px;
    padding: 10px;
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    
}
.contactBtn {
    color: aqua;
    background-color: black;
    width: 166px;
    height: 62px;
    border-radius: 8px;
    padding: 10px;
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
}


@media (max-width: 767px) {
    header{
        
        background-color: #0000006d;
        color: white;

    }
    .a{
        color: white;
    }
    #smNone{
        display: none;
    }
    .burger{
        display: flex;
    }
    .whats{
        /* background: #000; */
        padding-left: 4rem;
    }
    .divider {
        background-color: white;}
    .hero{
       top: -120px;
        height: 100vh;
    
        z-index: -1;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
 .nav-item {
  display: none;
}
#headerBtn{
    display: none;
}
}
@media (min-width: 768px) {
 .nav-item {
  font-size: 18px;
}
}
/* Desktops */
@media (min-width: 1024px) {
  .nav-item {
  font-size: 20px;
}}

/* From Uiverse.io by Cevorob */ 
.burger {
  position: relative;
  width: 35px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(52deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-52deg);
  top: 28px;
  left: 5px;
}